/* About Section */
.about {
  padding: 5rem 10rem;
  background: #0f0f0f;
  color: #fff;
  font-family: Arial, sans-serif;

  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.about-container {
  max-width: 1200px;
  margin: 0 auto;
}


.about h1 {
  font-size: 38px;
  margin-bottom: 20px;
  text-align: center;
  color: #00ff88;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 6rem;
}


.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #aaa;
}


.about .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
  justify-content: center;

}

.about .skills li {
  background: #111;
  color: #00ff88;
  padding: 8px 15px;
  border-radius: 20px;
  list-style: none;
  font-weight: 500;
  border: 1px solid #00ff88;
  transition: all 0.3s ease;
}

.about .skills li:hover {
  background: #00ff88;
  color: #000;
  box-shadow: 0 0 5px #00ff88;
  transform: scale(1.05);
}


.about .experience {
  margin-bottom: 30px;
}

.about .experience h3 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #00ff88;
}

/* ---------- Tablet ---------- */
@media (max-width: 1200px) {
  .about {
    padding: 4rem 5rem;
  }

  .about h1 {
    font-size: 34px;
  }

  .about p {
    font-size: 16px;
  }
}

/* ---------- Small Tablet ---------- */
@media (max-width: 768px) {
  .about {
    padding: 3rem 2rem;
  }

  .about h1 {
    font-size: 30px;
  }

  .about p {
    font-size: 15px;
  }
}

/* ---------- Mobile ---------- */
@media (max-width: 480px) {
  .about {
    padding: 2rem 1rem;
  }

  .about h1 {
    font-size: 26px;
    margin-top: 10rem;
  }

  .about p {
    font-size: 14px;
  }

  .about .skills li {
    padding: 8px 12px;
    font-size: 13px;
    margin-right: 3rem;
    justify-content: space-around;
    width: 1000px;
   text-align: center;
  }
}