/* Base styles (large screens) */
.home-content {
  margin-top: 15rem;
  margin-left: 10rem;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
  display: flex;
  align-items: center;

   opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.image-me{
  height: 280px;
  width: 435px;
  margin-left: 5rem;

   opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.m{ color: rgb(1,129,1); }
.e{ color: rgb(255,176,28); }
.r{ color: rgb(31,191,255); }
.n{ color: rgb(84,255,84); }


/* Medium screens */
@media (max-width: 1200px) {
  .home-content {
    margin-top: 12rem;
    margin-left: 5rem;
    font-size: 42px;
  }

  .image-me{
    height: 200px;
    width: 320px;
    margin-left: 3rem;
  }
}


/* Tablet view */
@media (max-width: 768px) {
  .home-content {
    flex-direction: column;   /* image top, text bottom */
    text-align: center;
    margin-left: 0;
    margin-top: 8rem;
    font-size: 34px;
    margin-right: 3rem;

    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }

  .image-me{
    width: 600px;
    height: auto;
    margin: 0 auto 20px auto;

    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }

   @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
}


/* Mobile phones */
@media (max-width: 480px) {

  .home-content {
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
    font-size: 26px;
    padding: 15px;
    margin-left: 50px;

    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }

  .image-me {
    width: 400px;   /* bigger image */
    height: auto;
    display: block;
    margin: 20px auto; /* center image */
    border-radius: 10px;
    margin-top: 30px;

      opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;

  }

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
}