
.project{
  padding: 60px 20px;
  text-align: center;
  background: #0f0f0f;
  color: #fff;

  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.project h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 6rem;
  font-size: 32px;
}

.project p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #aaa;
}


.project-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}


.project-card{
  background: #111;
  color: #fff;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #222;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.project-card:hover{
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
  border-color: #00ff88;
}


.project-card h3{
  margin-bottom: 10px;
  font-size: 20px;
}


.project-card p{
  font-size: 14px;
  color: #bbb;
  margin-bottom: 15px;
  font-family: sans-serif;
}


.project-card a{
  display: inline-block;
  text-decoration: none;
  color: #00ff88;
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #00ff88;
  transition: all 0.3s ease;
  font-family: sans-serif;
}


.project-card a:hover{
  background: #00ff88;
  color: #000;
  box-shadow: 0 0 5px #00ff88;
}



.github{
  margin-top: 60px;
  text-align: center;
}

.github h2{
  font-size: 28px;
  margin-bottom: 15px;
  color: #fff;
}


.github a{
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;

  color: #fff;
  background: linear-gradient(135deg, #24292e, #444);

  border-radius: 50px;
  text-decoration: none;

  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.git-icon{
  font-size: 20px;
}


.github a:hover{
  transform: translateY(-5px) scale(1.05);
  background: linear-gradient(135deg, #000, #333);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.github a:active{
  transform: scale(0.95);
}

@media (max-width: 900px){

  .project-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .project h1{
    font-size: 28px;
    margin-top: 9rem;
  }

  .github h2{
    font-size: 24px;
  }

  .github a{
    padding: 10px 20px;
    font-size: 14px;
  }

  .git-icon{
    font-size: 18px;
  }
}


@media (max-width: 500px){

  .project-container{
    grid-template-columns: 1fr;
  }

  .project{
    padding: 40px 15px;
  }

  .project h1{
    font-size: 24px;
  }

  .project-card{
    padding: 20px;
  }

  .github{
    margin-top: 40px;
  }

  .github h2{
    font-size: 20px;
  }

  .github a{
    width: 80%;
    justify-content: center;
    font-size: 14px;
  }
}