/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container */
.project {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;

   opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  letter-spacing: 2px;
 
}


.project p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  max-width: 600px;
  line-height: 1.6;
}


.project a {
  text-decoration: none;
  padding: 8px 25px;
  background-color: white;
  color: black;
  border: black solid 1px;
  font-weight: bold;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.project a:hover {
  background-color: red;
  color: black;
  transform: scale(1.05);
}




@media (max-width: 768px) {
  .project h1 {
    font-size: 2.2rem;
  }

.project{
  opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  .project p {
    font-size: 1rem;
    padding: 0 10px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .project {
    padding: 20px 15px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }


  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  .project h1 {
    font-size: 1.8rem;
  }

  .project p {
    font-size: 0.95rem;
  }

  .project a {
    padding: 10px 18px;
    font-size: 0.9rem;
  }
}